main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;


    #main {
        margin: 10%;
        max-width: 1440px;
        text-align: center;
        justify-content: center;

        .main-title {
            font-size: 6em;
            margin: 20px;
            line-height: 1.2em;
        }

        .main-subtitle {
            font-size: 2em;
            margin: 40px;
            font-weight: 300;
        }

        .main-form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px;

            .fieldset {
                width: 72%;
                background-color: $White;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: none;
                border-radius: 50px;
                min-height: 60px;

                .input {
                    margin: 0px 28px;
                    border: none;
                    color: $Gray;
                    font-size: 24px;
                }



            }

        }

        .span-small-text {
            color: $Gray;
            font-size: 12px;
            margin-bottom: 50px;
        }

        .main-text {
            font-size: 24px;
            margin: 50px;
        }
    }

    article#first-section {
        width: 1440px;
        display: flex;

        .first-section-title {
            width: 62%;
        }

        .first-section-blocks {
            margin: 0 20px;

            .first-section-block {
                display: flex;

                .image {
                    padding: 0 80px;
                }

                .content {
                    h3 {
                        font-size: 2em;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 1.2em;
                        margin-bottom: 60px;
                    }
                }
            }

        }

    }
}