//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Roboto", sans-serif;

}


fieldset {
    border: none;
}

//Colors
$Black:#000;
$White: #fff;
$Green:#00E8C5;
$Purple: #b479ff;
$Gray: #9D9D9D;
$Transparent: #ffffff00;
$Gradient: conic-gradient(from 137deg at 46.94% 54.99%, #7761FF 41deg, #AC7 115deg, #00E8C5 262deg);

body {
    background-color: $Black;
    color: $White;
    overflow-x: hidden;

}