//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

fieldset {
    border: none;
}

//Colors
$Black:#000;
$White: #fff;
$Green:#00E8C5;
$Purple: #b479ff;
$Gray: #9D9D9D;

@font-face {
    font-family: 'Aktiv-grotesk';
    src: url(../assets/fonts/Aktiv.Grotesk/AktivGrotesk-Regular.ttf);
    font-weight: 400;
}