* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", sans-serif;
}

fieldset {
  border: none;
}

span,
a,
i {
  color: #00E8C5;
}

button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #00E8C5;
  font-weight: 700;
  border: 4px #00E8C5 solid;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  transform: translateY(-3px);
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
body nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}
body nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 800;
  align-items: center;
}
body nav ul a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
body nav ul a:hover {
  color: #00E8C5;
}
body main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main .gradient-background {
  position: absolute;
  top: 31.2vh;
  right: -6.41vw;
  width: 91vw;
  height: 45vw;
  background-image: conic-gradient(from 137deg at 46.94% 54.99%, #7761FF 41deg, #AC7 115deg, #00E8C5 262deg);
  filter: blur(200px);
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.5;
}
body main #main {
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main h1 {
  font-size: 5em;
  font-weight: 800;
  text-align: center;
}
body main h1 span {
  color: #00E8C5;
}
body main p {
  margin-top: 40px;
  font-size: clamp(1.5rem, 3.7vw, 2.061rem);
  font-weight: 300;
}
body main form {
  width: 100%;
}
body main form fieldset {
  background-color: #fff;
  border-radius: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
body main form fieldset input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #9D9D9D;
  font-size: 20px;
  padding: 20px 30px;
  width: 100%;
}
body main form fieldset button {
  background-color: #b479ff;
  color: #fff;
  border: none;
  font-size: 26px;
  padding: 0px 50px;
}
body main .version {
  color: #9D9D9D;
  font-size: small;
  margin-top: 10px;
}
body main .subtitle {
  font-weight: 400;
  font-size: x-large;
}

#motivos {
  display: flex;
  justify-content: center;
  width: 100%;
}
#motivos .motivos {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 70%;
}
#motivos .motivos h2 {
  font-size: 3.8em;
  line-height: 1em;
}
#motivos .motivos .blocos {
  width: 100%;
}
#motivos .motivos .blocos .bloco {
  margin-bottom: 140px;
  display: flex;
  gap: 20px;
  margin-bottom: 95px;
}
#motivos .motivos .blocos .bloco .image img {
  max-width: 231px;
  max-height: 167px;
  width: 231px;
  height: auto;
  box-sizing: border-box;
}
#motivos .motivos .blocos .bloco div h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}
#motivos .motivos .blocos .bloco div p {
  font-size: 1.5em;
}

#reconhecimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 250px;
}
#reconhecimento h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 400;
}
#reconhecimento > div {
  display: flex;
  gap: 100px;
  width: 1080px;
  margin-top: 80px;
}
#reconhecimento > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#reconhecimento > div div p {
  font-size: 1.5em;
}
#reconhecimento > div div div {
  gap: 10px;
  flex-direction: row;
  margin: 20px 0;
}/*# sourceMappingURL=style.css.map */